# Property

In [9]:
class Person:
    def __init__(self, name, age):
        self._name = name
        self._age = None
        self.age = age

    @property
    def age(self):
        print(f"Person {self._age=}")
        return self._age

    @age.setter
    def age(self, val):
        print(f"Person set age {self._age=}")
        if not (isinstance(val, int) and val >= 0):
            raise ValueError("wrong age")

        self._age = val

    @property
    def name(self):
        print(f"Person {self._name=}")
        return self._name


pers = Person("walter", 99)

Person set age self._age=None

In [10]:
pers.__dict__

{'_name': 'walter', '_age': 99}

In [11]:
pers.age

Person self._age=99

99

In [12]:
pers.name

Person self._name='walter'

'walter'

In [13]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 1,
              '__init__': <function __main__.Person.__init__(self, name, age)>,
              'age': <property at 0x1099b7600>,
              'name': <property at 0x1099b7e20>,
              '__static_attributes__': ('_age', '_name', 'age'),
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

In [16]:
pers.age = 55

Person set age self._age=99

In [17]:
pers.age

Person self._age=55

55

In [19]:
pers.name = "new_name"

AttributeError: property 'name' of 'Person' object has no setter

In [20]:
pers.__dict__["age"] = "mega age"
pers.__dict__["name"] = "mega name"

In [21]:
pers.__dict__

{'_name': 'walter', '_age': 55, 'age': 'mega age', 'name': 'mega name'}

In [22]:
pers.age

Person self._age=55

55

In [23]:
pers.name

Person self._name='walter'

'walter'

In [24]:
pers.age = 1000

Person set age self._age=55

In [26]:
pers.age

Person self._age=1000

1000

In [27]:
pers.__dict__["_age"] = "nonvalid"

In [28]:
pers.age

Person self._age='nonvalid'

'nonvalid'

In [29]:
pers.__age

'nonvalid'

In [30]:
def __fn(x, y):
    return x + y

In [31]:
__fn(1, 2)

3

In [32]:
def make_hash_from_password(password):
    return hash(password)


class User:
    def __init__(self, login, password):
        self.__login = login
        self.password_hash = None
        self.password = password

    @property
    def login(self):
        """name is read-only"""
        return self.__login

    @property
    def password(self):
        raise AttributeError("Password is write-only")

    @password.setter
    def password(self, plaintext):
        self.password_hash = make_hash_from_password(plaintext)

In [33]:
walter = User("walter", "12345")

In [35]:
walter.__dict__

{'_User__login': 'walter', 'password_hash': -3449614614386766689}

In [36]:
walter.login

'walter'

In [37]:
walter.password

AttributeError: Password is write-only

In [38]:
walter.password = "56789"

In [39]:
walter.__dict__

{'_User__login': 'walter', 'password_hash': 3643347532207729054}

# Attr access

In [48]:
class AttrAccess:
    name = "cls_attribut_access"

    def __init__(self, val):
        self.val = val

    def __getattr__(self, name):
        print(f"__getattr__ {name=}")

        raise AttributeError(f"no attr {name}")
        # return super().__getattr__(name)  # - error

    def __getattribute__(self, name):
        print(f"__getattribute__ {name=}")
        
        return super().__getattribute__(name)
            
    def __setattr__(self, name, val):
        print(f"__setattr__ {name=}, {val=}")
        
        return super().__setattr__(name, val)

    def __delattr__(self, name):
        print(f"__delattr__ {name=}")
        
        return super().__delattr__(name)

    
attr = AttrAccess(42)

__setattr__ name='val', val=42

In [52]:
attr.age = 42

__setattr__ name='age', val=42

In [42]:
attr.age

__getattribute__ name='age'

42

In [49]:
attr.wrong

__getattribute__ name='wrong'
__getattr__ name='wrong'

AttributeError: no attr wrong

In [53]:
del attr.age

__delattr__ name='age'

In [57]:
getattr(attr, "age", 99)

__getattribute__ name='age'
__getattr__ name='age'

99

In [58]:
setattr(attr, "age", 1000)

__setattr__ name='age', val=1000

In [59]:
attr.age

__getattribute__ name='age'

1000

In [ ]:
name = "age"
value = 999

if name == "age":
    attr.age = value


setattr(attr, name, value)

In [63]:
class AttrAccess:
    name = "cls_attribut_access"

    def __init__(self, val, age):
        self.val = val
        self._age = age

    @property
    def age(self):
        print(f"PROP {self._age=}")

    def __getattr__(self, name):
        print(f"__getattr__ {name=}")

        raise AttributeError(f"no attr {name}")
        # return super().__getattr__(name)  # - error

    def __getattribute__(self, name):
        print(f"__getattribute__ {name=}")
        
        return super().__getattribute__(name)
            
    def __setattr__(self, name, val):
        print(f"__setattr__ {name=}, {val=}")
        
        return super().__setattr__(name, val)

    def __delattr__(self, name):
        print(f"__delattr__ {name=}")
        
        return super().__delattr__(name)

    
attr = AttrAccess(42, 999)

__setattr__ name='val', val=42
__setattr__ name='_age', val=999

In [64]:
attr.age

__getattribute__ name='age'
__getattribute__ name='_age'
PROP self._age=999

In [65]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    def print_info(self):
        print(f"Person.print_info: {self.name=}, {self.__age}")


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.__init__", school)

        super().__init__(*args, **kwargs)

        self.school = school


pers = Student("VSU", "jesse", 27)

Student.__init__ VSU

In [66]:
pers.__dict__

{'name': 'jesse', '_Person__age': 27, 'school': 'VSU'}

In [68]:
pers.print_info()

Person.print_info: self.name='jesse', 27

In [76]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    def print_info(self):
        print(f"Person.print_info: {self.name=}, {self.__age}")


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.__init__", school)

        super().__init__(*args, **kwargs)

        self.school = school
        # self.__age = super().__age
        self.__age = 99

    def print_info(self):
        print(f"Student.print_info: {self.name=}, {self.__age}")


pers = Student("VSU", "jesse", 27)

Student.__init__ VSU

In [77]:
pers.__dict__

{'name': 'jesse', '_Person__age': 27, 'school': 'VSU', '_Student__age': 99}

In [78]:
pers.print_info()

Student.print_info: self.name='jesse', 99

In [79]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    def print_info(self):
        print(f"Person.print_info: {self.name=}, {self.__age}")


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.__init__", school)

        super().__init__(*args, **kwargs)

        self.school = school
        # self.__age = super().__age
        self.__age = 99

    def print_info(self):
        print(f"Student.print_info: {self.name=}, {self.__age}")
        
        super().print_info()


pers = Student("VSU", "jesse", 27)

Student.__init__ VSU

In [80]:
pers.__dict__

{'name': 'jesse', '_Person__age': 27, 'school': 'VSU', '_Student__age': 99}

In [81]:
pers.print_info()

Student.print_info: self.name='jesse', 99
Person.print_info: self.name='jesse', 27

In [98]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    @property
    def age(self):
        return self.__age

    def print_info(self):
        print(f"Person.print_info: {self.name=}, {self.__age}")


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.__init__", school)

        super().__init__(*args, **kwargs)

        self.school = school

    def calc_year_plus_ten(self):
        return self.age + 10
        #return getattr(self, f"_{cls.__name__}__age") + 10


pers = Student("VSU", "jesse", 27)

Student.__init__ VSU

In [99]:
pers.calc_year_plus_ten()

37

# Дескрипторы

In [100]:
class IntField:
    
    def __get__(self, obj, objtype):
         print(f"get {obj} cls={objtype}")
            
    def __set__(self, obj, val):
        print(f"set {val} for {obj}")
    
    def __delete__(self, obj):
        print(f"delete from {obj}")
        

class TablePerson:
    age = IntField()

    def __init__(self, age):
        print("init", self)
        self.age = age

pers = TablePerson(99)

init <__main__.TablePerson object at 0x108e3b230>
set 99 for <__main__.TablePerson object at 0x108e3b230>

In [101]:
pers.age

get <__main__.TablePerson object at 0x108e3b230> cls=<class '__main__.TablePerson'>

In [102]:
del pers.age

delete from <__main__.TablePerson object at 0x108e3b230>

In [103]:
pers.age

get <__main__.TablePerson object at 0x108e3b230> cls=<class '__main__.TablePerson'>

In [104]:
TablePerson.age

get None cls=<class '__main__.TablePerson'>

In [113]:
# bad!

class IntField:

    def __init__(self, val=None):
        self._val = val
    
    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        return self._val

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        self._val = val
    

class TablePerson:

    def __init__(self, age):
        print("init", self)
        self.age = IntField()


pers = TablePerson(99)

init <__main__.TablePerson object at 0x108e3be00>

In [115]:
pers.age = 42

In [116]:
pers.age

42

In [120]:
# bad!

class IntField:

    def __init__(self, val=None):
        self._val = val
    
    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        return self._val

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        self._val = val
    

class TablePerson:
    age = IntField()

    def __init__(self, age):
        print("init", self)
        self.age = age


pers = TablePerson(99)

init <__main__.TablePerson object at 0x108e3a270>
set 99 for <__main__.TablePerson object at 0x108e3a270>

In [107]:
pers.age

get <__main__.TablePerson object at 0x108e3a510> cls=<class '__main__.TablePerson'>

99

In [108]:
pers.age = 42

set 42 for <__main__.TablePerson object at 0x108e3a510>

In [109]:
pers.age

get <__main__.TablePerson object at 0x108e3a510> cls=<class '__main__.TablePerson'>

42

In [110]:
pers.__dict__

{}

In [111]:
TablePerson.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 18,
              'age': <__main__.IntField at 0x108e38ec0>,
              '__init__': <function __main__.TablePerson.__init__(self, age)>,
              '__static_attributes__': ('age',),
              '__dict__': <attribute '__dict__' of 'TablePerson' objects>,
              '__weakref__': <attribute '__weakref__' of 'TablePerson' objects>,
              '__doc__': None})

In [117]:
pers.age

42

In [121]:
pers1 = TablePerson(99)
pers2 = TablePerson(42)

print(pers1.age, pers2.age)

init <__main__.TablePerson object at 0x108c7ac10>
set 99 for <__main__.TablePerson object at 0x108c7ac10>
init <__main__.TablePerson object at 0x108c7a5d0>
set 42 for <__main__.TablePerson object at 0x108c7a5d0>
get <__main__.TablePerson object at 0x108c7ac10> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108c7a5d0> cls=<class '__main__.TablePerson'>
42 42

In [122]:
pers1.age = 1000

set 1000 for <__main__.TablePerson object at 0x108c7ac10>

In [123]:
print(pers1.age, pers2.age)

get <__main__.TablePerson object at 0x108c7ac10> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108c7a5d0> cls=<class '__main__.TablePerson'>
1000 1000

In [127]:
# bad!

class IntField:

    def __init__(self):
        self.name = "_hidden_int"

    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        
        if obj is None:
            return None

        return obj.__dict__[self.name]
        # return getattr(obj, self.name)

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        if not isinstance(val, int):
            raise ValueError("wrong int")

        obj.__dict__[self.name] = val
        #setattr(obj, self.name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self)
        self.age = age
        self.year = year


pers1 = TablePerson(99, 2017)
pers2 = TablePerson(42, 1856)

init <__main__.TablePerson object at 0x108fd0980>
set 99 for <__main__.TablePerson object at 0x108fd0980>
set 2017 for <__main__.TablePerson object at 0x108fd0980>
init <__main__.TablePerson object at 0x109b6a5d0>
set 42 for <__main__.TablePerson object at 0x109b6a5d0>
set 1856 for <__main__.TablePerson object at 0x109b6a5d0>

In [128]:
pers1.age, pers1.year, pers2.age, pers2.year

get <__main__.TablePerson object at 0x108fd0980> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108fd0980> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6a5d0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6a5d0> cls=<class '__main__.TablePerson'>

(2017, 2017, 1856, 1856)

In [129]:
pers1.__dict__, pers2.__dict__

({'_hidden_int': 2017}, {'_hidden_int': 1856})

In [132]:
class IntField:

    def __set_name__(self, owner, name):
        print(f"set name: {owner=}, {name=}")
        
        self.name = f"_hidden_int_{name}"

    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        
        if obj is None:
            return None

        return obj.__dict__[self.name]
        # return getattr(obj, self.name)

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        if not isinstance(val, int):
            raise ValueError("wrong int")

        obj.__dict__[self.name] = val
        #setattr(obj, self.name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self)
        self.age = age
        self.year = year


pers1 = TablePerson(99, 2017)
pers2 = TablePerson(42, 1865)

set name: owner=<class '__main__.TablePerson'>, name='age'
set name: owner=<class '__main__.TablePerson'>, name='year'
init <__main__.TablePerson object at 0x108fd0980>
set 99 for <__main__.TablePerson object at 0x108fd0980>
set 2017 for <__main__.TablePerson object at 0x108fd0980>
init <__main__.TablePerson object at 0x109b6b610>
set 42 for <__main__.TablePerson object at 0x109b6b610>
set 1865 for <__main__.TablePerson object at 0x109b6b610>

In [133]:
pers1.age, pers1.year, pers2.age, pers2.year

get <__main__.TablePerson object at 0x108fd0980> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108fd0980> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b610> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b610> cls=<class '__main__.TablePerson'>

(99, 2017, 42, 1865)

In [134]:
pers1.__dict__, pers2.__dict__

({'_hidden_int_age': 99, '_hidden_int_year': 2017},
 {'_hidden_int_age': 42, '_hidden_int_year': 1865})

In [135]:
class IntField:

    def __set_name__(self, owner, name):
        print(f"set name: {owner=}, {name=}")
        
        self.name = name

    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        
        if obj is None:
            return None

        return obj.__dict__[self.name]
        # return getattr(obj, self.name)

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        if not isinstance(val, int):
            raise ValueError("wrong int")

        obj.__dict__[self.name] = val
        #setattr(obj, self.name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self)
        self.age = age
        self.year = year


pers1 = TablePerson(99, 2017)
pers2 = TablePerson(42, 1865)

set name: owner=<class '__main__.TablePerson'>, name='age'
set name: owner=<class '__main__.TablePerson'>, name='year'
init <__main__.TablePerson object at 0x108fd01a0>
set 99 for <__main__.TablePerson object at 0x108fd01a0>
set 2017 for <__main__.TablePerson object at 0x108fd01a0>
init <__main__.TablePerson object at 0x109b6b750>
set 42 for <__main__.TablePerson object at 0x109b6b750>
set 1865 for <__main__.TablePerson object at 0x109b6b750>

In [136]:
pers1.__dict__, pers2.__dict__

({'age': 99, 'year': 2017}, {'age': 42, 'year': 1865})

In [137]:
pers1.age, pers1.year, pers2.age, pers2.year

get <__main__.TablePerson object at 0x108fd01a0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108fd01a0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b750> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b750> cls=<class '__main__.TablePerson'>

(99, 2017, 42, 1865)

In [138]:
pers1.age = 500

set 500 for <__main__.TablePerson object at 0x108fd01a0>

In [139]:
pers1.age, pers1.year, pers2.age, pers2.year

get <__main__.TablePerson object at 0x108fd01a0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x108fd01a0> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b750> cls=<class '__main__.TablePerson'>
get <__main__.TablePerson object at 0x109b6b750> cls=<class '__main__.TablePerson'>

(500, 2017, 42, 1865)

In [140]:
getattr(pers1, "age")

get <__main__.TablePerson object at 0x108fd01a0> cls=<class '__main__.TablePerson'>

500

In [141]:
class IntField:

    def __set_name__(self, owner, name):
        print(f"set name: {owner=}, {name=}")
        
        self.name = f"_hidden_int_{name}"

    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        
        if obj is None:
            return None

        return obj.__dict__[self.name]
        # return getattr(obj, self.name)

    def __set__(self, obj, val):
        print(f"set {val} for {obj}")

        if not isinstance(val, int):
            raise ValueError("wrong int")

        obj.__dict__[self.name] = val
        #setattr(obj, self.name, val)


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age, year):
        print("init", self)
        self.age = age
        self.year = year

    def calc_age(self):
        print("TablePerson.calc_age")
        return self.age


pers1 = TablePerson(99, 2017)
pers2 = TablePerson(42, 1865)

set name: owner=<class '__main__.TablePerson'>, name='age'
set name: owner=<class '__main__.TablePerson'>, name='year'
init <__main__.TablePerson object at 0x108fd12b0>
set 99 for <__main__.TablePerson object at 0x108fd12b0>
set 2017 for <__main__.TablePerson object at 0x108fd12b0>
init <__main__.TablePerson object at 0x109b6b390>
set 42 for <__main__.TablePerson object at 0x109b6b390>
set 1865 for <__main__.TablePerson object at 0x109b6b390>

In [142]:
pers1.calc_age()

TablePerson.calc_age
get <__main__.TablePerson object at 0x108fd12b0> cls=<class '__main__.TablePerson'>

99

In [147]:
pers1.calc_age.__class__.__get__

In [148]:
pers1.calc_age

In [150]:
pers1.calc_age.__func__(pers2)

TablePerson.calc_age
get <__main__.TablePerson object at 0x109b6b390> cls=<class '__main__.TablePerson'>

42

In [151]:
pers1.__dict__["calc_age"] = "new_calc"

In [154]:
pers1.calc_age

'new_calc'

In [155]:
del pers1.calc_age

In [156]:
pers1.calc_age

In [157]:
class IntField:

    def __set_name__(self, owner, name):
        print(f"set name: {owner=}, {name=}")
        
        self.name = f"_hidden_int_{name}"

    def __get__(self, obj, objtype):
        print(f"get {obj} cls={objtype}")
        
        if obj is None:
            return None

        return obj.__dict__[self.name]


class TablePerson:
    age = IntField()
    year = IntField()

    def __init__(self, age):
        print("init", self)
        self.age = age

    def calc_age(self):
        print("TablePerson.calc_age")
        return self.age


pers = TablePerson(99)

set name: owner=<class '__main__.TablePerson'>, name='age'
init <__main__.TablePerson object at 0x108fd02f0>

In [158]:
pers.age

99

In [159]:
pers.__dict__

{'age': 99}

In [160]:
del pers.age

In [161]:
pers.__dict__

{}

In [162]:
pers.age

get <__main__.TablePerson object at 0x108fd02f0> cls=<class '__main__.TablePerson'>

KeyError: '_hidden_int_age'

# Наследование

In [163]:
class Person:
    def __init__(self, name):
        print(f"Person.__init__", name)
        self.name = name


class Student(Person):
    def __init__(self, school, *args, **kwargs):
        print(f"Student.__init__", school)

        super().__init__(*args, **kwargs)

        self.school = school


class Teacher(Person):
    def __init__(self, rank, *args, **kwargs):
        print(f"Teacher.__init__", rank)

        super().__init__(*args, **kwargs)

        self.rank = rank


class PostGrad(Student, Teacher):
    def __init__(self, *args, **kwargs):
        print(f"PostGrad.__init__")

        super().__init__(*args, **kwargs)


pers = PostGrad("VSU", "phd", "walter")

PostGrad.__init__
Student.__init__ VSU
Teacher.__init__ phd
Person.__init__ walter

In [164]:
PostGrad.mro()

[__main__.PostGrad,
 __main__.Student,
 __main__.Teacher,
 __main__.Person,
 object]

In [166]:
tch = Student("abc", "some")

Student.__init__ abc
Person.__init__ some

# Метаклассы